<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">Username</th>-->
<!--    <th scope="col">Mail</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <app-table-line [id]="1" username="Dardanboy" mail="dardanboy@nowhere.com"></app-table-line>-->
<!--&lt;!&ndash;    <app-table-line id="2" username="Jean-Pierre" mail="jean.pierre@nowhere.com"></app-table-line>&ndash;&gt;-->
<!--  </tbody>-->
<!--</table>-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Username</th>
    <th scope="col">Mail</th>
  </tr>
  </thead>
  <tbody>
    <tr app-table-line id="1" username="Dardanboy" mail="dardanboy@gmail.com"></tr>
    <tr app-table-line id="2" username="Jean-Pierre" mail="jean-pierre@gmail.com"></tr>
  </tbody>
</table>
